.container {
  /* min-width: 290px; */
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 54px auto 0;

  @media screen and (min-width: 375px) {
    width: 375px;
  }
  
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 960px) {
    width: 960px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }

  outline: 1px dotted green;
}
